ul
{
  list-style: none;
}

.App {
  text-align: center;
  padding: 1em;
}

.App-logo {
  pointer-events: none;
  width: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.openSourceCode-link
{
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
.openSourceCode-link:hover
{
  color: #c22d75;
}

.student-link {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.student-link:hover {
  color: #c22d75;
}

.App-footer a
{
  border: none;
}