.Main
{
    padding-top: 1em;
}

.form-submit
{
    text-align: left;
}
.display
{
    padding-top: 1em;
    color: #fff;
    background-color: #282922;
    font-weight: 600;
    text-align: left;
    padding-bottom: 30px;
}